<header>
  <h1>Reviews</h1>
</header>

<div id="sort-bar">
  <%= link_to "Ascending Chronological Order", user_path(rating: 'asc') %>
  <%= link_to "Descending Chronological Order", user_path(rating: 'desc') %>
</div>

</div>
<div class="user-name">
  <h2><%= @user.name %></h2>
</div>
<div class="user-section">
  <% @reviews.each do |review| %>
    <div id="review-<%= review.id %>" class="single-review-section">
      <p><%= link_to review.book.title, book_path(review.book), class: "link-text" %></p>
      <h3><%= review.title %></h3>
      <p><%= review.rating %> Stars</p>
      <p><%= review.review_text %></p>
      <p><%= link_to "Delete Review", review_path(review), method: :delete, class: "link-text" %></p>
    </div>
  <% end %>
</div>
