<header>
  <h1>All Books</h1>
</header>
<nav>
  <p>Navigation</p>
</nav>
<div class="statistics">
  <h2>Statistics</h2>
</div>
<div class="books">
  <% @books.each do |book| %>
    <div class="book-section" id="book-<%= book.id %>">
      <h2><%= book.title %></h2>
        <% book.authors.each do |author| %>
          <h3><%= author.name %></h3>
        <% end %>
      <p>Pages: <%= book.pages %></p>
      <p>Published in: <%= book.publishing_year %></p>
    </div>
  <% end %>
</div>

<footer>
  <%= link_to "Add New Book", new_book_path %>
</footer>
