<header>
  <h1>All Books</h1>
</header>

<div class="statistics">
  <h2>Statistics</h2>
  <div id="stats-high">
    <h3>Highest Rated Books</h3>
      <% @sorted_books_rating[0..2].each do |book| %>
        <%= book.title %>
        Average Rating: <%= book.average_rating.to_f.round(1) %>
      <% end %>
  </div>
  <div id="stats-low">
    <h3>Lowest Rated Books</h3>
      <% @sorted_books_rating.reverse[0..2].each do |book| %>
        <%= book.title %>
        Average Rating: <%= book.average_rating.to_f.round(1) %>
      <% end %>
  </div>
  <div id="stats-users">
    <h3>Users With The Most Reviews</h3>
    <% @sorted_users_reviews[0..2].each do |user| %>
      <%= user.name %>
      <%= user.reviews.count %>
    <% end %>
  </div>
</div>

<div id="sort-bar">
  <%= link_to "Reviews Ascending", books_path(rating: 'asc') %>
</div>

<div class="books">
  <% @books.each do |book| %>
    <div class="book-section" id="book-<%= book.id %>">
      <img class="img-thumbnail" src="<%= book.image_link %>" alt="Cover of <%= book.title %>"/>
      <div class="book-info">
        <h2><%= link_to book.title, book_path(book) %></h2>
        <p>Average Rating: <%= book.average_rating.to_f.round(1) %></p>
        <p>Total Number of Reviews: <%= book.total_reviews %></p>
        <% book.authors.each do |author| %>
          <h3><%= link_to author.name, author_path(author) %></h3>
        <% end %>
        <p>Pages: <%= book.pages %></p>
        <p>Published in: <%= book.publishing_year %></p>
      </div>
    </div>
  <% end %>
</div>

<footer>
  <%= link_to "Add New Book", new_book_path %>
</footer>
