<%= @book.title %>
<% @book.authors.each do |author| %>
  <%= author.name %>
<% end %>
Pages: <%= @book.pages %>  
Published in: <%= @book.publishing_year %>

<% @book.reviews.each do |review| %>
  <div id="review-<%= review.id %>">
    <%= review.title %>
    Reviewed By: <%= review.user.name %>
    Rating: <%= review.rating %>
    Review: <%= review.review_text %>
  </div>
<% end %>