<header>
  <h1><%= @book.title %></h1>
</header>
<nav>
  <p>Navigation</p>
</nav>
<div class="book-section">
  <% @book.authors.each do |author| %>
    <h2><%= link_to author.name, author_path(author) %></h2>
  <% end %>
  <p>Pages: <%= @book.pages %></p>
  <p>Published in: <%= @book.publishing_year %></p>
  <div class="reviews">
    <h3>Reviews</h3>
    <% @book.reviews.each do |review| %>
      <div class="review-section" id="review-<%= review.id %>">
        <h3><%= review.title %></h3>
        <p>Reviewed By: <%= link_to review.user.name, user_path(review.user) %></p>
        <p>Rating: <%= review.rating %></p>
        <p>Review: <%= review.review_text %></p>
      </div>
    <% end %>
  </div>
</div>

<footer>
  <%= link_to "New Review", new_book_review_path(@book) %>
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</footer>
