<header>
  <h1><%= @book.title %></h1>
</header>
<div class="statistics">
  <h2>Statistics</h2>
  <div id="stats-high">
    <h3>Top Reviews:</h3>
    <% @reviews_by_rating.reverse[0..2].each do |review| %>
      <%= review.title %>
      Rating: <%= review.rating %>
      Reviewed By: <%= link_to review.user.name, user_path(review.user) %>
    <% end %>
  </div>
  <div id="stats-low">
    <h3>Bottom Reviews:</h3>
      <% @reviews_by_rating[0..2].each do |review| %>
        <%= review.title %>
        Rating: <%= review.rating %>
        Reviewed By: <%= link_to review.user.name, user_path(review.user) %>
      <% end %>
  </div>
  <div id="stats-average">
    <h3>Average Review Rating:</h3>
    <%= @book.average_rating %>
  </div>
</div>
<div class="book-section">
    <img class="book-image" src="<%= @book.image_link %>" alt="Cover of <%= @book.title %>"/>
  <div class="book-info">
    <% @book.authors.each do |author| %>
      <h2><%= link_to author.name, author_path(author), class: "link-text" %></h2>
    <% end %>
    <p>Pages: <%= @book.pages %></p>
    <p>Published in: <%= @book.publishing_year %></p>
  </div>
    <div class="reviews">
      <h3>Reviews</h3>
      <% @book.reviews.each do |review| %>
        <div class="review-section" id="review-<%= review.id %>">
          <h3><%= review.title %></h3>
          <p>Reviewed By: <%= link_to review.user.name, user_path(review.user) %></p>
          <p>Rating: <%= review.rating %></p>
          <p>Review: <%= review.review_text %></p>
        </div>
      <% end %>
    </div>
</div>

<footer>
  <%= link_to "New Review", new_book_review_path(@book) %>
  <%= link_to "Delete Book", book_path(@book), method: :delete %>
</footer>
