<header>
  <h1>Add New Review</h1>
</header>

<div class="new-review">
  <%= form_for [@book, @review] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :user %>
    <%= f.text_field :user %>
    <%= f.label :rating %>
    <%= f.select :rating, [[1, 1],[2, 2],[3, 3],[4, 4],[5, 5]] %>
    <%= f.label :review_text %>
    <%= f.text_area :review_text %>
    <%= f.submit  %>
  <% end %>
</div>
