<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'reset', media: 'all' %>
    <%= stylesheet_link_tag    'main', media: 'all' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400,700" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
